<component name="ArtifactManager">
  <artifact type="war" name="springbootStudy (1):war">
    <output-path>$PROJECT_DIR$/SpringBoot-SpringData/SpringData/springbootStudy/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springbootStudy (1)</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springbootStudy-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springbootStudy (1):war exploded" />
    </root>
  </artifact>
</component>